
* annex.backend=MD5E
**/.git* annex.largefiles=nothing
images/brain-extraction annex.largefiles=nothing
images/brain-generation annex.largefiles=nothing

* annex.largefiles=((mimeencoding=binary)and(largerthan=0))
