.modelType {
  background-color: whitesmoke;
  margin-left: 175px;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  padding: 20px 20px;
  border-radius: 10px;
  display: none;
  position: relative;
}

.header {
    margin: 5px;
}

.link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  width: 100%; 
  height: 100%;
}
