.title {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
}

.subtitle {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 25px;
}

.heading {
    margin-left: 50px;
    margin-bottom: 5px;
}

.descr {
    margin-left: 50px;
    margin-bottom: 25px;
    margin-right: 50px;
}

.card-container {
    border: 1px solid black;
}

.tab-list {
    display: flex;
    flex-direction: row;
}

.tab {
    background-color: whitesmoke;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.selected {
    border: 2px solid black;
}