.models-body {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.models-list {
    width: 50%;
}

.modelCard {
    width: 50%;
    margin: 25px 25px 0px 20px;
    border: 1px solid black;
}