.navbar {
    border: 1px solid #e7e7e7;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu {
    display: flex;
    gap: 1em;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-link a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link a:hover:not(.active) {
    background-color: #ddd;
}

.nav-link a.active {
    color: white;
    background-color: #04AA6D;
}