.container {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    margin-left: 25px;
    margin-right: 50px;
    margin-top: 25px;
    width: 400px;
}

.search {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}