.container {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    margin: 25px 50px;
    width: 300px;
}

.search {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}